.about-main {
  margin-top: 5rem;
  //   border: 0.2rem solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //   justify-content: space-around;

  .about-title {
    // border: 1px solid red;
    text-align: left;

    h2 {
      font-weight: bolder;
    }
  }

  .about-body {
    margin-top: 2rem;
    padding: 1rem;
    // border: 1px solid blue;
  }

  .about-skills {
    margin-top: 2rem;
    padding: 1rem;
    // border: 1px solid blue;

    h2 {
      font-weight: bolder;
    }
  }
}
