.project-main {
  // border: 1px solid red;
  margin-top: 4rem;
  padding: 1rem;

  .project-title {
    // border: 1px solid black;

    h2 {
      font-weight: bolder;
    }
  }

  .project-body {
    margin-top: 2rem;
    // border: 1px solid green;
    display: flex;
    // justify-content: space-between;
  }
}
